{% extends "base.html" %}

{% block title %}Overview{% endblock %}
{% block content %}
{{ block.super }} 

<div class="container about">

<h1>The <em>Southern Changes</em> Digital Archive</h1>
<blockquote>
"...it is not simply final outcomes but processes of change which are significant to people's experience of their
world." - Doreen Massey</blockquote>


  
<p>Between 1978 and 2003, the Atlanta-based Southern Regional Council
  published <em>Southern Changes</em>, a journal featuring social
  research,cultural analysis, reportage, commentary, reviews, and
  interviews by an extraordinary list of writers, scholars, and activists.  The
<em>Southern Changes Digital Archive</em> is a searchable
database that provides full-text versions of each issue of Southern
Changes over this twenty-five year period.  The articles in
<em>Southern Changes</em> range across many subjects:  racial
justice and the freedom struggle, voting rights, educational
opportunity, economic democracy, social equality and inclusion,
women's rights, environmental justice, critical regional studies,
regional-global issues, and popular culture.</p>
<p>Users of this digital
archive have several ways to access <em>Southern Changes</em>
content.  You may Browse from a list of the
journal's issues, by volume and number.  You can then choose a
particular issue to review a list of its articles; you can select an
article to read in full text. Users can easily navigate from article
to article and from issue to issue.  Articles can also be browsed by algorithmically generated topics. You can also use the Search
feature linked from the Home page to enter key words and phrases
(e.g. "voting rights," "desegregation," "poverty"), author, and dates,
to locate and retrieve articles from <em>Southern Changes</em>.
This digital archive contains the complete text of articles, but
without photographs or images.</p>
<p>The <em>Southern Changes Digital Archive</em> is produced in collaboration
with the Beck Center for
Electronic Collections at Emory
University and the Southern Regional
Council.</p>

<p>Prof. Allen Tullos <br>Editor of <em>Southern Changes</em>, 1982-2003.  <br><em>SC</em>DA Project Director.</p>
<p>Alice Hickcox <br>Electronic Text Specialist <br>Beck Center,
Woodruff  Library <br>Emory University</p>
<div class="acklink">
  <a href="{% url "acknowledgments" %}">Acknowledgments</a>
</div>
</div>
{% endblock %}
