{% extends "base.html" %}


{% block title %}Acknowledgments{% endblock %}
{% block content %}
<div class="container"><h2>Acknowledgments</h2>

<p><b>Editors:</b>  Betty Norwood Chaney, 1979-1982; Allen Tullos, 1982-2003.</p>

<p><b>Managing/Executive editors:</b> Randall Williams, 1986-1991; Ellen Spears, 1992-2002; Sarah Torian, 2002-2003.</p>

<p><b>Contributing editors:</b> Randall Williams, Sue Thrasher, Paul Gaston, Alex Willingham, Patricia Sullivan, Tom Rankin, Leslie Dunbar, Rose Gladney, Elaine Davenport, Stetson Kennedy, Julian Bond, Denise Giardina, John Egerton.</p>

<p><b>Publishers:</b> Steve Suitts, 1978-1994.  Wendy Johnson, 1995-2002. Luz Borrero, 2003.</p>

<p><b>Southern Regional Council executive committee and staff:</b> Jean
Chalmers, Tony Dunbar, Sophia Bracy Harris, Ray Marshall, Helen
Mervis, Mary Frances Derfner, Lorna Bourg, Cora Tucker, David Dreger,
Marge Manderson, Cindy Noe, Alexis Barrett, Elizabeth Siceloff, Ginny
Montes, M. No&#xE9;,  Preston Quesenberry, Sarah Torian, Barry Lee, Mekonnen Gessesse.</p>

<p><b>Emory University Beck Center staff:</b> Chuck Spornick, Alice Hickcox,
Scott Ellis, Katherine Ellison, Ahmed Abdel Meguid, Rebecca Sutton
Koeser, Montshona Edwards, Sara Palmer</p>

<p><b>Emory University graduate students:</b> Julie Sexeny, Pellom McDaniels,
Theresa Pendarvis, Matt Miller, Jere Alexander, Sarah Toton, Patrick Wehner, Amy Wood.</p>

</div>
{% endblock %}

