

<div id="headersearchbox">
<!-- include this file for searchbox -->
<form name="searchform" action="{% url "search" %}" method="get"><p
      class="searchbox"><b>keyword search:</b><input id="key" type="text" size="20" name="keyword"/><input id="go" type='submit' size="20" value='Go'/></p></form>
</div>
<div class="subnav">
<p class="navlinks">
<a href="{% url "index" %}"><span id="ho">Home</span></a>
<a href="{% url "overview" %}"><span id="ov">Overview</span></a>
<a href="{% url "issues" %}"><span id="br">Browse</span></a>
<a href="{% url "search" %}"><span id="se">Search</span></a>
</p>

</div>