<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Southern Changes Digital Archive</title>
<meta http-equiv="Content-Type" content="text/html;" charset="iso-8859-1">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/schanges.css">
<!-- dublin core metadata about the project -->
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
  <meta name="DC.title" content="Southern Changes Digital Archive"/>
  <meta name="DCTERMS.alternative" content="Southern Changes"/>
  <meta name="DCTERMS.alternative" content="Southern Changes Online"/> 
  <meta name="DCTERMS.alternative" content="Southern changes: the journal of the Southern Regional Council, 1978-2003"/>
  <meta name="DC.creator" content="Lewis H. Beck Center for Electronic Collections"/>
  <meta name="DC.publisher" content="Lewis H. Beck Center for Electronic Collections"/>
  <meta name="DCTERMS.issued" content="2000-"/>
  <meta name="DC.description" content="Searchable database of Southern
Changes, the quarterly journal of the Southern Regional
Council. Coverage begins with 1978 issues. This digital archive
contains full-length original articles, reviews, interviews, essays,
and reports that explore the variety of social conditions and cultural
issues affecting the South."/>
  <meta name="DC.description" content="&quot;A chronicle of the
ongoing struggle for equality&quot;"/>
  <meta name="DC.source" content="Southern changes. v. 1-26; Sept. 1978-2004. Atlanta, Ga. : Southern Regional Council."/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content=" Civil rights--Southern States"/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content="Southern States--Social conditions"/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content="Southern States--Economic conditions"/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content="African Americans"/>
  <meta name="DC.type" scheme="DCTERMS.DCMIType" content="text"/>
  <meta name="DC.type" scheme="marcgt" content="periodical"/>
  <meta name="DC.format" scheme="DCTERMS.IMT" content="text/html"/>
  <meta name="DC.identifier" content="http://beck.library.emory.edu/southernchanges/"/>
</head>

<body>
<div class="headimage">
<img class="headimage" src="{{ STATIC_URL }}images/title-covers-trans.gif"  width="743"  height="173" alt="Southern Changes Online"/>
<h2 class="subhead">The Journal of the Southern Regional Council, 1978-2003</h2>
</div>

<div class="nav">

<p class="navlinks" id="about"><a href={% url "about" %}><span id="ov">Overview</span></a>
<a href={% url "issues" %}><span id="br">Browse</span></a>
<a href={% url "search" %}><span id="se">Search</span></a></p>
</div>

<div class="teenimage">
<img class="teenimage" src="{{ STATIC_URL }}images/teens_blacknwhite.jpg" width="300" height="225" align="top"/>
<p class="credit">Photo&#x00A9;David Zeiger</p>
</div>

<div id="headersearchbox">
<!-- include this file for searchbox -->
<form name="keywordsearch" action="{% url "search" %}" method="get"><p
     class="searchbox"><b>keyword search:</b><input id="key" type="text" size="20" name="keyword"/><input id="go" type='submit' size="20" value='Go'/></p></form>
</div>

<div class="externalnav">
<p class="links" id="beck">
<a href="http://beck.library.emory.edu/"><span id="bc">The Beck Center</span></a>
<a href="http://www.southerncouncil.org/"><span id="src">Southern Regional Council</span></a>
</p>
</div>

<div class="foot">
<hr class="foot">
<p class="footnav"><span id="con"><script language="javascript">
<!--
var username = "beckctr";
var hostname = "emory.edu";
var linktext = "Contact the Beck Center";
document.write("<a href=" + "mail" + "to:" + username +
"@" + hostname + ">" + linktext + "</a>")
//-->
</script>
<noscript>Contact the Beck Center: beckctr<img src="{{ STATIC_URL }}images/at.gif" alt=" at "/>emory.edu</noscript></span> | <span id="euc"><a href="http://www.library.emory.edu/">Euclid</a></span> | <span id="ul"><a href="http://www.emory.edu/libraries.cfm">University Libraries</a></span> | <span id="univ"><a href="http://www.emory.edu/">Emory University</a></span>
<p><a href="http://www.tei-c.org/"><img src="http://www.tei-c.org/About/Badges/powered-by-TEI.png" alt="Powered by TEI" border="0"/></a></p>
</div>
<div class="tracking">
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11023816-3");
pageTracker._trackPageview();
} catch(err) {}</script>
</div>
</body> </html>
 
