{% extends "base.html" %}

{% block head-extras %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/contents.css">
{% endblock %}

{% block title %}Browse - Southern Changes Digital Archive{% endblock %}

{% block content %}
<div class="container">

 
<h2>Issues</h2>

<div class="btn-group">
{% for group in groups %}
<a onClick="$('#{{group.0}}').toggle()"><button id="category-label"
  class ="btn btn-default btn-lg toggle">{{group.0}}</button></a>
  <ul id="{{group.0}}" class="category" style="display:none">
    {% with "1:" as items %}
    {% for issue in group|slice:items %}
  <li>
<a href="{% url "issue_toc" issue.id %}">{{issue.head}}</a>  
</li>
{% endfor %}
{% endwith %}
</ul>
</p>
{% endfor %}
</div>
<td>
<td>


<!-- <div class="downloads"> -->
<!-- <p><a href={% url "send_file" "sc_issues" %}>Issues Zip File</a></p> -->
<!-- <p><a href={% url "send_file" "sc_articles" %}>Articles Zip File</a></p> -->
<!-- </div> -->
  
</div>
{% endblock %}

</html>
