{% extends "base.html" %}
{% load template_filters %}

{% block head_extras %}
{# Dublin Core metadata for this issue #}
{% with issue as dc_fields %}{% include 'snippets/issue_dc_meta.html' %}{% endwith %}
{% endblock %}

{% block title %}Issue Contents{% endblock %}
{% block content %}
{{ block.super }} 

<div class="container">
<div class="panel panel-default panel-top">
<div class="panel-heading"><h1>{{ issue.head|strip_head }}</h1></div>
  <table class="table">
    <tbody>
      <tr>
	<th>Author</th>
	<th>Title</th>
	<th>Type</th>
	<th>Pages</th>
      </tr>
  {% for article in issue.divs %}
      <tr>
	<td class="author">{{ article.author }}</td>
	<td><a href="{% url "article_display" issue.id article.id %}">{{ article.head }}</a></td>
	<td class="type">{{ article.type }}</td>
	<td class="page">{{ article.pages|strip_page }}</td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
</div>

<div class="prev-next">
{% if previous_issue %}
  <a href="{% url "issue_toc" previous_issue.id %}">
  <button type="button" class="btn btn-default previous" aria-label="Left Align">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  Previous Issue
  </button></a>
{% endif %}
{% if next_issue %}
  <a href="{% url "issue_toc" next_issue.id %}">
  <button type="button" class="btn btn-default next" aria-label="Right Align">
  Next Issue
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button></a>
 </div>
{% endif %}
</div>
    

     
</div>
{% endblock content %}

