{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}
{{ block.super }} 

<div class="container">

<h1>Search</h1>

<div class="search-box">
<form class="form-horizontal">
  <div class="form-group">
    <label for="InputKeyword" class="col-sm-2 control-label">Keyword</label>
    <div class="col-sm-10">
    <input type="text" class="form-control"
  id="keyword_id"name="keyword" placeholder="keyword">
      </div>
    </div>
  <div class="form-group">
    <label for="InputKeyword" class="col-sm-2
  control-label">Author</label>
    <div class="col-sm-10">
    <input type="text" class="form-control"
  id="author_id"name="author" placeholder="author">
      </div>
  </div>
  <div class="form-group">
    <label for="InputKeyword" class="col-sm-2
  control-label">Title</label>
    <div class="col-sm-10">
    <input type="text" class="form-control" id="title_id"name="title"
  placeholder="title">
      </div>
  </div>
  <div class="form-group">
    <label for="InputKeyword" class="col-sm-2 control-label">Article
  Date</label>
    <div class="col-sm-10">
    <input type="text" class="form-control"
  id="article_date_id"name="article_date" placeholder="article date">
      </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10"> 
<button type="submit" class="btn btn-default">Submit</button>
<button type="reset" class="btn btn-default">Reset</button>
      </div>
      </div>
</form>

      </div>

  
<div class="panel panel-default search-tips">
  <div class="panel-heading"><h2>Search Tips</h2></div>
  <div class="panel-body">
    <ul>
<li>Search terms are matched against <i>whole words.</i></li>
<li>Multiple words are allowed.</li>
<li>Use "" to search a phrase. For example: "civil rights".</li>
<li>Use AND to narrow a search. For example: "civil rights" AND women.</li>
<li>Asterisks may be used when searching for multiple words from one root. <br/>
For example, enter <b>resign*</b> to match <b>resign</b>, <b>resigned</b>, and
<b>resignation</b>. </li>
<li> Use several categories to narrow your search. For example, use author, keyword and 
title to match a particular article.</li>
<li>When searching on a state, try the abbreviated form as well. For example, use GA and Georgia
to see search results for both.</li>
</ul>
</div>
<div class="panel-footer">If you are interested in doing a more complex search, please
contact the <script language="javascript">
var username = "ecds";
var hostname = "emory.edu";
var linktext = "Emory Center for Digital Scholarship";
document.write("<a href=" + "mail" + "to:" + username +
"@" + hostname + ">" + linktext + "</a>")
</script><noscript> ecds<img src="web/images/at.gif" alt=" at
  "/>emory.edu</noscript>.
  </div>
  </div>
  </div>



{% endblock %}
