{% extends "base.html" %}
{% load get_item %}

{% block title %}{{topic.name}}{% endblock %}

{% block content %}
<div class="content">
<h2>{{topic.name}}</h2>

{{article_ids}}
  
  
<div class="wordcloud">
<img src="{{STATIC_URL}}topics/wordclouds/cloud_{{topic.id}}.png" width="300" height="300">
</div>
  
<table class="contents">
  <tbody>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Type</th>
      <th>Pages</th>
    <tr>
  {% for article in articles %}
<tr>
       <td width="15%" valign="top">{{ article.author }}</td>
      <td valign="top"><a href="{% url "article_display" article.issue.id article.id %}">{{ article.head }}</a></td>
       <td width="10%" valign="top">{{ article.type }}</td>
       <td width="25%" valign="top">{{ article.pages }}</td>
       
     </tr>
  {% endfor %}
     </tbody>
     </table>
     
</div>

{% endblock content %}
