
<div class="container">
<h2>Articles for Topic $NUM: $LABEL</h2>

<table class="containers">
  <tbody>
    <tr>
      <th style="text-align:left">Author</th>
      <th style="text-align:left">Title</th>
      <th style="text-align:left">Type</th>
      <th style="text-align:left">Pages</th>
      <th style="text-align:left">Percent</th>
    <tr>
  {% for article in issue.divs %}
<tr>
       <td width="15%" valign="top">{{ article.author }}</td>
      <td valign="top"><a href="{% url "article_display" issue.id article.id %}">{{ article.head }}</a></td>
       <td width="10%" valign="top">{{ article.type }}</td>
       <td width="20%" valign="top">{{ article.pages }}</td>
       <td width="5%" valign="top">{{ $PERCENT }}</td>
     </tr>
  {% endfor %}
     </tbody>
     </table>
</div>
{% endblock content %}

