<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
  <meta name="DC.title" content="Southern Changes Digital Archive"/>
  <meta name="DCTERMS.alternative" content="Southern Changes"/>
  <meta name="DCTERMS.alternative" content="Southern Changes Online"/> 
  <meta name="DCTERMS.alternative" content="Southern changes: the journal of the Southern Regional Council, 1978-2003"/>
  <meta name="DC.creator" content="Lewis H. Beck Center for Electronic Collections"/>
  <meta name="DC.publisher" content="Lewis H. Beck Center for Electronic Collections"/>
  <meta name="DCTERMS.issued" content="2000-"/>
  <meta name="DC.description" content="Searchable database of Southern
Changes, the quarterly journal of the Southern Regional
Council. Coverage begins with 1978 issues. This digital archive
contains full-length original articles, reviews, interviews, essays,
and reports that explore the variety of social conditions and cultural
issues affecting the South."/>
  <meta name="DC.description" content="&quot;A chronicle of the
ongoing struggle for equality&quot;"/>
  <meta name="DC.source" content="Southern changes. v. 1-26; Sept. 1978-2004. Atlanta, Ga. : Southern Regional Council."/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content=" Civil rights--Southern States"/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content="Southern States--Social conditions"/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content="Southern States--Economic conditions"/>
  <meta name="DC.subject" scheme="DCTERMS.LCSH" content="African Americans"/>
  <meta name="DC.type" scheme="DCTERMS.DCMIType" content="text"/>
  <meta name="DC.type" scheme="marcgt" content="periodical"/>
  <meta name="DC.format" scheme="DCTERMS.IMT" content="text/html"/>
  <meta name="DC.identifier" content="http://beck.library.emory.edu/southernchanges/"/>